.Bar {
    padding: 1rem 0.5rem;
    min-width: 8rem;
    background: var(--bg-light-black);
}

.List {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.Button {
    padding: 0.4rem;
    min-width: 3rem;
    font-size: 1.5rem;
    background-color: var(--light-orange);
}

.Button:hover {
    cursor: pointer;
    transform: scale(1.1);
}


@media (min-width: 22em) {
    .Button {
        min-width: 3rem;
        font-size: 1.8rem;
        background-color: var(--light-orange);
    }
}

@media (min-width: 47em) {
    .Bar {
        margin-top: 6rem;
    }
    .List {
        flex-direction: column;
        align-content: stretch;
    }
    .Button {
        width: 100%;
    }
  }