.square {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 32%;
    height: 32%;
    background: var(--bg-dark-black);
    font-size: 5rem;
    color: #fff;
    text-shadow:
        0 0 0.5rem var(--shadow-light-blue-green),
        0 0 1rem var(--shadow-light-blue-green),
        0 0 2rem var(--shadow-light-blue-green),
        0 0 4rem var(--shadow-light-blue-green),
        0 0 8rem var(--shadow-light-blue-green),
        0 0 9rem var(--shadow-light-blue-green),
        0 0 10rem var(--shadow-light-blue-green);
}

@media (min-width: 47em) {
    .square {
        font-size: 10rem;
    }
  }