.control-panel {
    padding: 1rem;
    background: var(--bg-light-black);
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
}

.reset-button {
    padding: 1rem;
    font-size: inherit;
    text-transform: uppercase;
    border-radius: 1rem;
    background-color: var(--light-coral);
}

.reset-button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.mode-panel {
    display: flex;
}

.mode-panel__button {
    display: block;
    margin: 0 0.5rem;
    padding: 1rem;
    font-size: inherit;
    text-transform: uppercase;
    border-radius: 1.5rem;
    background: var(--light-yellow);
}

.mode-panel__button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.mode-panel__button_active {
    display: block;
    background: var(--light-orange);
}
