:root {
  --text-white: #eee5e5e8;
  --bg-light-black: #00000062;
  --bg-dark-black: #000000ef;
  --light-coral: #f08080;
  --light-yellow: #aace49a9;
  --light-orange: #d1af15;
  --shadow-light-blue-green: rgb(0, 255, 170);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  border: none;
}

ul {
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  background: url('./image/game-bg.jpg') no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.game {
  padding-top: 0;
}

.game__main {
  padding: 1rem;
  display: flex;
  flex-direction: column-reverse;
}

.game__play-field {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 auto;
}

@media (min-width: 47em) {
  .game__info-bar {
    margin-top: 5rem;
  }
  .game__main {
    flex-direction: row;
  }
  .game__side-bar {
    width: 15vw;
    max-width: 12rem;
  }
}