:root {
  --text-white: #eee5e5e8;
  --bg-light-black: #00000062;
  --bg-dark-black: #000000ef;
  --light-coral: #f08080;
  --light-yellow: #aace49a9;
  --light-orange: #d1af15;
  --shadow-light-blue-green: rgb(0, 255, 170);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  border: none;
}

ul {
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  background: url('./image/game-bg.jpg') no-repeat;
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
}

#root {
  margin: 0 auto;
  max-width: 140rem;
}
